<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Head</title>
    <style>
    </style>
</head>
<body>
   <div th:fragment="header">
       <h1 style="text-align: center" th:text="${company.name.toUpperCase()}"></h1>
       <p style="text-align: center" th:text="${company.description}"></p>
       <div style="display: flex; justify-content: space-between">
           <div>
               <p><strong>Adresse</strong> : <span th:text="${company.address}"></span></p>
               <p><strong>Email</strong> : <span th:text="${company.email}"></span></p>
               <p><strong>Telephone</strong> : <span th:text="${company.phoneNumbers.get(0).phoneNumber}"></span></p>
           </div>
           <div style="text-align: center">
               <img style="width: 100px; height: 100px" alt="logo" th:src="'data:image/jpeg;base64,'+${company.logo}">
               <p th:text="${company.slogan}"></p>
           </div>
       </div>
   </div>
    <div th:fragment="footer">
        <hr>
        <p><strong>NIF</strong> : <span th:text="${company.nif}"></span></p>
        <p><strong>STAT</strong> : <span th:text="${company.stat}"></span></p>
        <p><strong>RCS</strong> : <span th:text="${company.rcs}"></span></p>
        <form method="post" th:action="@{/logout}">
            <button>logout</button>
        </form>
    </div>
</body>
</html>